---
interface Props {
    type: "button" | "reset" | "submit";
    size: "sm" | "md" | "lg";
    isFilled: boolean;
    theme: string;
    classes: string[];
    onclick: () => any;
    rest: any;
}

const { type = "button", size = "md", isFilled = false, classes, rest } = Astro.props;
---

<button class:list={[classes, { filled: isFilled }]} {type} data-size={size} {...rest}>
    <slot />
</button>

